@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  width: 100%;
  margin: 0px;
  transition: 200ms;
  /* user-select: none; */
  background-color: rgb(19,19,19);
}

::-webkit-scrollbar {
  width: .3rem; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: #f1f1f100; /* Background of the scrollbar track */
}

::-webkit-scrollbar-thumb {
  background: #ffffff; /* Color of the scrollbar thumb */
}

::-webkit-scrollbar-thumb:hover {
  background: #ffffff; /* Color of the scrollbar thumb on hover */
}
