@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');

@layer base {
  :root {
    --font-rubik-mono-one: 'Rubik Mono One';
    scroll-behavior: smooth;
  }
}

body{
  background-color: rgb(19,19,19);
  scroll-behavior: smooth;
}

@keyframes pokeball-start {
  0% {top: -400px;}
  25% {top: -300px;}
  50% {top: -200px;}
  75% {top: -100px;}
  100% {top: 0px;}
}

.canvas-anim{
  animation-name: pokeball-start; /* Name of the animation */
  animation-duration: 1.4s; /* Duration of the animation */
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-delay: 1s;
}